{% extends "base.html" %}
{% block content %}
      
    <div class="jumbotron">
      <div class="container">
        <h2>800M Fixed Pitch</h2>
        <p>Write some more stuff, e.g. expected results. Write some more stuff, e.g. expected results. </p>
      </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    
    <div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    
    <hr> <hr>
	<style type="text/css">${demo.css}</style>
           
    <script type="text/javascript">
    
  $(document).ready(function () {
    function initData()
    {
      let data = [];
      let time = Date.now();
      for (let i = -100; i <= 0; i += 1) {
          data.push({ x: time + i * 500, y: 0 });
      }
      return data;
    }

    function DisplayChart(argContainer, argSeries, argTitle = 'Live Data')
    {
    let TheChart = Highcharts.chart(argContainer, {
      chart: {
      type: 'spline',
      animation: false, //{ duration:100},
      events: {
        load: function () {
          let series = this.series;
          let len  = series.length;
          console.log(series[1].name);
          let url = "/GetSignals/";
          
          for(let i=0; i < len; i++) {
            url += series[i].name;
            url += ',';
          }
          
          setInterval(function () {
            $.get(url, function(data, status)
            {
              for (let j = 0; j < len; j++) {
                series[j].addPoint([data["time"], data["signal"][j]], false, series[j].data.length > 100);
              }
              TheChart.redraw();
            });
          }, 500);
        }
      }
      },
      title: {text: argTitle},
      xAxis: {type: 'datetime', tickPixelInterval: 150 },
      yAxis: {title: {text: 'Value' }, min: 0, plotLines: [{value: 0, width: 1, color: '#808080'}] },
      exporting: { enabled: false },
      series: argSeries
          
      });

      return TheChart;
    }
    
    let Ser1 = [
      { name: 'RoomTempSnsr.Temperature', data: initData() },
      { name: 'RoomTempSnsr.ADCVal', data: initData() }
      //{ name: 'dbActualClutchMode', data: initData() }
    ];
    let Chart1 = DisplayChart('container1', Ser1, "Graph Number 1");
    
    let Ser2 = [
      { name: 'SensorIG53A_Rpm', data: [] },
      { name: 'SensorIG53B_Rpm', data: [] },
      { name: 'SensorIG53A_RpmFild', data: [] },
      { name: 'SensorIG53B_RpmFild', data: [] }
    ];
    let Chart2 = DisplayChart('container2', Ser2, "Title for Graph 2");
  });
    </script>
      
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <div id="container" style="min-width: 310px; height: 500px; margin: 0 auto"></div>
    
<hr>
    <div class="container"> 
        <footer>  <p>&copy; Joakim Carlsson</p>   </footer>
    </div> <!-- /container -->
 
{% endblock %}    
